#root {
  /* max-width: 1920px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ripple animation in hero section  */

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.ripple {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 9999px;
  /* background-color: white; */
  border: 1.5px solid white;
  opacity: 0.3;
  animation: ripple 2s linear infinite;
}

@media screen and (max-width: 425px) {
  .ripple {
    width: 3rem;
    height: 3rem;
  }
}

.ripple-2 {
  animation-delay: 0.4s;
}

.ripple-3 {
  animation-delay: 0.8s;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.background-image {
  position: relative;
  /* min-height: 300px; বা যত height দরকার */
  background-image: url("./assets/about3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* এইটা ensure করে ::before ভিতরেই থাকে */
}

/* Overlay */
.background-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Transparent black */
  z-index: 1;
}

/* Overlay এর উপর content রাখার জন্য */
.background-image > * {
  position: relative;
  z-index: 2;
}

.swiper {
  width: 75%;
  height: 250px;
  padding: 10px;
  border-radius: 16px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
}

/* Tablet view (768px–1024px) */
@media (max-width: 1024px) {
  .swiper {
    width: 85%;
    height: auto;
  }
}

/* Mobile view (up to 768px) */
@media (max-width: 768px) {
  .swiper {
    height: 450px;
  }
}
